<h1>Your Order Details:</h1>

<%= render partial: "user-order-cart",
           locals: { cart_data: OrderItem.get_users_active_order(2) } %>

<h3 class='form-label-header my-20'>Total Price: <%= Order.get_order_price(session[:current_order_id]) %></h3>
<h3 class='form-label-header my-20'>Total Items: <%= Order.get_total_items(session[:current_order_id]) %></h3>  
