<h1 class='heading'>Order Here :  </h1>

<h5>Order Id:  <%= session[:current_order_id] %></h5>

<h5 class='form-label-header'>Active Menu: <%= Menu.get_active_menu_name %></h5>

<%= render partial: "user-menu-table",
           locals: { menu_data: MenuItem.menu_by_id(ActiveMenu.first.active_menu) } %>

<h3 class='form-label-header'>Your Cart: </h3>

<%= render partial: "user-cart-table",
           locals: { cart_data: OrderItem.where(order_id: session[:current_order_id]) } %>

           